.otrosDatos {
  color: black;
  padding: 0 1rem;
  font-size: 1.5rem;

  & h3 {
    color: black;
    font-weight: bolder;
    margin-top: 1rem;
  }

  & .restCat {
    width: 150px;
  }
}

@media only screen and (min-width: 900px) {
  .otrosDatos {
    padding: 0 4rem;
  }
}
