* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  background-color: rgb(43, 43, 43);
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Zain", sans-serif;
}

/* fuentes */
@font-face {
  font-family: "Zain";
  src: local("Zain"), url(/public/fonts/Zain/Zain-Regular.ttf) format("truetype");
}
