* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  background-image: url(../src/utils/SeaofClouds_SVG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.2rem;
  font-family: "Zain", sans-serif;
}

/* fuentes */
@font-face {
  font-family: "Zain";
  src: local("Zain"), url(/fonts/Zain/Zain-Regular.ttf) format("truetype");
}
